body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
}

.hat {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.w { width: 10%; }
.al, .wo { width: 30%; text-align: left; }
.wo  {width: 50%; text-align: left;}
.al h1, .wo h1 { font-size: 26px; margin: 0; color: #333; }
.back {
    background: red;
    color: white;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
}

.check {
    display: flex;
    flex: 1;
    min-height: calc(100vh - 180px); /* Чтобы красная полоса тянулась */
}

.pus { width: 20%; }

.alerg, .wont {
    width: 27.5%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.alerg h1, .wont h1 {
    font-size: 20px;
    margin: 12px 0;
    font-weight: normal;
    cursor: pointer;
}

.alerg input, .wont input {
    margin-right: 10px;
    transform: scale(1.3);
}

.pus1 {
    width: 25%;
    background: red;
    color: white;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    line-height: 1.6;
}

.result {
    max-width: 90%;
}

.But {
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.but {
    background: red;
    color: white;
    width: 220px;
    height: 65px;
    font-size: 1.9em;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    transition: all 0.3s;
}

.but:hover {
    background: darkred;
    transform: translateY(-3px);
}