body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: white;
}

.main {
    margin: 0;
    width: 100%;
    padding: 10px; /* фиксированные отступы */
    justify-content: space-between;
    display: flex;
        background: red;

    
}

.main h1{
    text-align: center;
    width: 100%;
    color: white;
    margin:left;
}


.back {
	width: 100px;
	height: 50px;
	color: white;
	font-size: 1.5em;
	background: red;
	margin-left: 20px;
}


.up_t {
    text-align: center;
    width: 350px;
    margin: 0 auto; /* центрирование по горизонтали */
}

.up_t h1 {
    font-size: 1.5em; /* разумный размер шрифта */
}


.sec {
	display: flex; /* выстраиваем элементы в строку */
    align-items: stretch; /* растянуть элементы по высоте */
    justify-content: space-between; /* равное пространство между элементами */
}


.free {
	width: 25%;
	margin-left: 10px;
	    justify-content: space-between; /* равное пространство между элементами */
}

.free h1{
	font-size: 1.5em;
}


.like {
	color: white;
	width: 200px;
	height: 50px;
	background: red;
	text-align: center;
	font-size: 30px;
	margin-left: 40px;
}


.r_b {
    color: white;
    text-align: center;
    background: red;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-right: 30px;
    margin-left: 10px;
}


table.tab {
            border-collapse: collapse;
            width: 50%;
            max-width: 600px;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            background-color: white;
            margin: auto;
        }
        
        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }
        
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
        
        tr:nth-child(even) {
            background-color: #fafafa;
        }
        
.l_b {
    color: white;
    text-align: center;
    background: red;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-right: 10px; /* отступ слева от кнопки */
    margin-left: 30px;
}


.free1 {
	width: 25%;
	margin-right: 10px;
	justify-content: space-between;
}

.pay {
	background: red;
	color: white;
	width: 150px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	margin-left: 70px;
}

.free1 h1{
	font-size: 1.5em;
	margin-left: 10px;

}

.zero{
	height: 50px;
}

.check {
	width: 100%;
	height: 10%;
	text-align: center;
}

.check h1{
	font-size: 1.5em;
}
.check1 {
	display: flex;
	justify-content: space-between;
}

.g{
	width: 40%;
}
.g1{
	width: 25%;
}

.g1 h1{
	font-size: 1.5em;
}
.fo{
	color: white;
	background: red;
	width: 150px;
	height: 50px;
	text-align: center;
	font-size: 30px;
	margin-left: 70px;
}

.g2{
	width: 15%;
}



.yes {
	background: green;
	color: white;
	font-size: 30px;
	text-align: center;
	width: 50px;
	height: 50px;
}



.no {
	background: red;
	color: white;
	font-size: 30px;
	text-align: center;
	width: 50px;
	height: 50px;
}



.ans h1{
	color: black;
	text-align: center;
	width: 100%;
}




.check2 {
	display: flex;
	justify-content: space-between;
}

.g3 {
	width: 75%;
}

.g4{
	width: 25%;
}

.g4 h1{
	font-size: 1.5em;
}

.fo{
	color: white;
	background: red;
	width: 150px;
	height: 50px;
	text-align: center;
	font-size: 30px;
	margin-left: 70px;
}

