body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #34495e;
}


.rec{
	width: 300px;
	padding: 40px;
	top: 30%;
	left: 45%;
	position: absolute;
	transform: translate(-50px, -50px);
	background: #191919;
	text-align: center;
	border-radius: 10px;
}

.rec h1{
	color: white;
	font-weight: 500px;
}

.But {
	border: 0px;
	background: none;
	display: block;
	margin: 2px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.50px;
}


.button{
	border: 0px;
	background: none;
	display: block;
	margin: 2px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	border-radius: 24px;
	color: white;
	transition: 0.50 px;
}