body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
}



.hat {
	background: red;
	justify-content: space-between;
	display: flex;
}
.hat h1{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 1.5em;
}

.search{
	justify-content: space-between;
	display: flex;
}

.inp{
	width: 50%;
	    margin: 40px auto;        /* центрирует блок */

}

.sear {
	width: 100%;
	height: 50px;
	font-size: 1.5em;
}

.but{
	background: red;
	color: white;
	text-align: center;
	font-size: 1.5em;
	width: 150px;
	height: 50px;
	margin: 40px auto;
}




.check{
	text-align: center;
}

.hid{
	justify-content: space-between;
	display: flex;
}


.g{
	width: 25%;
}
.g1{
	width: 25%;
}

.yes{
	width: 50px;
	height: 50px;
	background: green;
	color: white;
	font-size: 1.5em;
	text-align: center;
}


.no{
	width: 50px;
	height: 50px;
	background: red;
	color: white;
	font-size: 1.5em;
	text-align: center;
}

.back {
	width: 100px;
	height: 50px;
	color: white;
	font-size: 1.5em;
	background: red;
	margin-left: 20px;
}


.ask {
		justify-content: space-between;
	display: flex;
}

.ask h1{
	width: 100%;
		text-align: center;

}


.order {
		justify-content: space-between;
	display: flex;

}

.order h1{
	width: 100%;
	color: white;
	background: red;
	text-align: center;
}


.choose{

			justify-content: space-between;
	display: flex;
	text-align: center;

}


.send {
				justify-content: space-between;
				justify-content: center; 
	display: flex;
	margin-top: 20px;
}

.send s{
	width: 100%;
}

.send input[type='submit']{
			

	background: red;
	color: white;
	text-align: center;
	width: 150px;
	height: 50px;
	border-radius: 25px;
}



.reds{
    text-align: center;
    
    margin-top: 20px;
}

.reds h1{
    margin: auto;
    width: 500px;
    background: red;
    border-radius: 50px;
    height: 50px;
    color: white;

}
