body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
}



.hat {
	background: red;
	justify-content: space-between;
	display: flex;
}
.hat h1{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 1.5em;
}

.search{
	justify-content: space-between;
	display: flex;
}

.inp{
	width: 50%;
	    margin: 40px auto;        /* центрирует блок */

}

.sear {
	width: 100%;
	height: 50px;
	font-size: 1.5em;
}

.but{
	background: red;
	color: white;
	text-align: center;
	font-size: 1.5em;
	width: 150px;
	height: 50px;
	margin: 40px auto;
}

