body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #34495e;
}


.a{
	text-align: center;
	width: 80%;
	margin: auto;
}
.a h1{
color: red;
}

.Button {
	border: 0;
	background: none;
	display: block;
	margin: auto ;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.5;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 45%;
}


.Button:hover{
	background: #2eec71;
}