<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Регистация</title>
<link rel="stylesheet" href="{{ url_for('static', filename='regist_style.css') }}">
</head>
<body>
	<div class="rec" >
		<h1>Регистрация</h1>
		<form action="{{ url_for('regist') }}" method="post">
		<input class="But" type="text" name="name" placeholder="Имя">
		<input class="But" type="text" name="text" placeholder="Фамилия">
		<input class="But" type="text" name="text" placeholder="Отчество">
		<input class="But" type="password" name="email" placeholder="почта">
		<input class="But" type="password" name="password" placeholder="Пароль">
		<input class="button" type="submit" name="like" placeholder="Зарегистрироваться">
	</form>
		{% if error %}
			<h1 style="color: red;">{{ error }}</h1>
		{% endif %}
</div>

</body>
</html>