<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='review_style.css') }}">
</head>
<body>
<div class="hat">
    <form class="op" action="{{ url_for('index') }}" method="get">
    <input class="back" type="submit" name="like" value="<">
    </form>
    <h1>Оставь отзыв о наших блюдах</h1>
</div>
    <form method="POST">

<div class="com">
<textarea name="coment" placeholder="Напишите ваш комментарий здесь..." required></textarea>
</div>

<div class="pu_b">
  <input class="push" type="submit" name="like" value="Отправить">
</div>
        </form>

<div class="r">
        <h1>Отзывы других пользователей</h1>
    {% for row in lst %}
    <div class="texts">
        <h1>{{ row }}</h1>
        </div>
            <h1></h1>

    {% endfor %}
</div>

</body>
</html>